/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-mar-2015, 12.40.30
    Author     : Fabio
*/

.form_item_DW{
    display: block;
}

table.DW_requirements_render {
    border-collapse: collapse;
    border: 1px solid #666;   
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
th.DW_requirements_render {
    border: 1px solid #ddd; 
    border-top: 1px solid #333;
    background: #333; 
    color:#fff;
    font-weight: bold;    
    padding: 2px;
}


table.DW_requirements_render tr:nth-child(odd){
    background: #aaccff;
}

table.DW_requirements_render tr:nth-child(even){
    background: #ddd;
}


table.DW_requirements_render td{
    border: 1px solid #333; 
}

th#th_Modifica{
    width:100px;
    border-right: 1px solid #333; 
}

th#th_IdReq{
    border-left: 1px solid #333; 
    
}
td#btn_modifica{
    text-align: center;
}

input.img_path{
    min-width:350px !important;
    float:left;
    clear:right;
}

input.img_title{
    min-width:350px !important;
    float:left;
    clear: left;
}

input#btn_aggiungi_requisito{
    float: left;
    clear: both;
    margin-left: 30%;
    min-width: 150px;
}


textArea.form_item_DW{
    min-width: 60%; 
    min-height: 250px;
}

#title_img_uc{
    float:left;
    clear: both;
}

.requisito_soddisfatto{
    background-color: #33ff66;
}

.requisito_non_soddisfatto{
    background-color: #ff3333;
}

.img_uc{
    max-height:500px;
    max-width: 95%;
}